<link rel="stylesheet" href="app.css">

<body>
  <div class="header">
    <div class="headContainer">
      <ul>
        <li><a href="../pages/index.ejs">Home</a></li>
        <li><a href="../pages/todos.ejs">Todos</a></li>
        <li><a href="../pages/about.ejs">About</a></li>
        <li><a href="/contact">Contact Me</a></li>
</ul>
    </div>
    <div class="rightHead">
      <input type="search" class="searchField">
      
    </div>
   
    




  </div>
</body>
