<%- include('../partials/header') %>



<head>
    <link rel="stylesheet" href="app.css">
</head>
<body>
  
    <center>
        <br><h1>About</h1><br>
        <h3>Hello My name is Hawk,</h3>
    <h3>I design this app for creating Todo, update it, delete it.</h3><br>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, <br>consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br> Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
        <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores.</p>
       
    </center>
    


</body>
<%- include('../partials/footer') %>