<%- include('../partials/header') %>



<head>
    <link rel="stylesheet" href="app.css">
</head>
<body>
  
<center>
    <br><br>
    <h1>Welcome to my Todo app,
    </h1><br>
    <h3>This App will let you Store Your Daily Todo's, Delete It, Add It and can Schedule it.</h3>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, <br>consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, <br>consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, <br>consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, <br>consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, <br>consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, <br>consectetur et doloribus esse repudiandae eveniet a inventore maiores aspernatur beatae delectus pariatur, facilis aut laborum ipsa illo eaque asperiores. Aliquam.</p>
   
</center>
</body>
<%- include('../partials/footer') %>